<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Offers</title>
</head>
<body>
    <table>
    <tr>
        <th>Exchange Post</th>
        <th>Author</th>
        <th>Action</th>
    </tr>
    {% for off in offers %}
        <tr>
            <td><a href="{% url 'posts:exchangePostView' id=off.offered.id %}">{{ off.offered.title }}</a></td>
            <td>{{ off.offered.author }}</td>
            <td><a href="{% url 'posts:acceptOffer' id=id offeredid=off.offered.id %}">Accept offer</a></td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>