<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Exchange post</title>
</head>
<body>
    <form method="post" action="{% url 'posts:addExchangePost' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required value="{{ expost.title }}"><br><br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required value="{{ expost.author }}"><br><br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required value="{{ expost.description }}"><br><br>
        <label for="purchase_date">Purchase date:</label>
        <input type="date" id="purchase_date" name="purchase_date" required value="{{ expost.purchase_date }}"><br><br>
        <label for="edition">Edition:</label>
        <input type="number" id="edition" name="edition" min="1"><br><br>
        <label for="publisher">Publisher:</label>
        <input type="text" id="publishser" name="publisher" value="{{ expost.publisher }}"><br><br>
        <label for="prefered_books">List your preferences:</label>
        <input type="text" id="prefered_books" name="prefered_books" value="{{ expost.prefered_books }}"><br><br>
        <label for="catagory">Catagory</label>
        <input type="text" id="catagory" name="catagory" value="{{ expost.catagory }}"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>