<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Exchange posts</title>
</head>
<body>
    <table>
    <tr>
        <th>Exchange Post</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>
    {% for ex in expost %}
        <tr>
            <td><a href="{% url 'posts:exchangePostView' id=ex.id %}">{{ ex.title }}</a></td>
            <td>{{ ex.author }}</td>
            <td><a href="{% url 'posts:checkOfferList' id=ex.id %}">Check Offers</a><a href="{% url 'posts:editExPost' id=ex.id %}">Edit</a><a href="{% url 'posts:delExPost' id=ex.id %}">delete</a></td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>