@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/fonts';
@import './partials/reset';
@import './partials/nav';
@import './partials/footer';

@import './partials/sellposts';
@import './partials/postdetails';

@import './partials/signup';
@import './partials/library';



.section-title {
    font-size: 2em;
    font-weight: bold;
    @include gradient-background;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}

.btn-gradient {
    @include gradient-background($deg: 45deg);
    color: white;
    overflow: hidden;
    padding: 0.3em 1.1em;
}

.card-columns {
   column-count: 3;
}