.post__container {
    @include main-section;

    .card {
        .carousel {
            &-item {
                img {
                    height: 20em;
                    object-fit: cover;
                }
            }
        }
    }
}

.card-columns {
    img {
        width: 100%;
        height: 20em;
        object-fit: cover;
    }
}