@mixin gradient-background {
    background-image: linear-gradient(
        90deg, 
        #007BFF, 
        #6610F2
    );
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin main-section {
    margin: 2em auto 4em;
    width: 60em;
    min-height: 90vh;
}