@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Light-webfont.woff);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-LightItalic-webfont.woff);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Regular-webfont.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Italic-webfont.woff);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Medium-webfont.woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-MediumItalic-webfont.woff);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Medium-webfont.woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-MediumItalic-webfont.woff);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Bold-webfont.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-BoldItalic-webfont.woff);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Black-webfont.woff);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-BlackItalic-webfont.woff);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url(../../assets/fonts/RobotoSlab-Regular-webfont.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url(../../assets/fonts/RobotoSlab-Bold-webfont.woff);
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  font-size: 1.25em;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.3em;
  font-weight: bold;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-brand img {
  margin-top: -0.25em;
  margin-right: 0.2em;
  height: 1.2em;
}

.about-section {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-section .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .title .about-text {
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  font-style: normal;
  padding: 1em;
  font-size: 5.6em;
  font-weight: bolder;
  line-height: 0.9;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#007BFF), to(#6610F2));
  background-image: linear-gradient(90deg, #007BFF, #6610F2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.about-section .subtitle {
  margin-top: -2rem;
}

.about-section .subtitle h3 {
  font-size: 1.3rem;
}

.container {
  max-width: 60em;
  margin: 2em auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.container h2 {
  margin-bottom: 0.5em;
}

.container img {
  width: 100%;
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-set {
  margin-block: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

.image-set img {
  width: 17em;
  height: 17em;
  -o-object-fit: cover;
     object-fit: cover;
}

.background-layer {
  z-index: -1;
  position: absolute;
  margin-top: 4em;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}
