@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Light-webfont.woff);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-LightItalic-webfont.woff);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Regular-webfont.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Italic-webfont.woff);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Medium-webfont.woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-MediumItalic-webfont.woff);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Medium-webfont.woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-MediumItalic-webfont.woff);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Bold-webfont.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-BoldItalic-webfont.woff);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Black-webfont.woff);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-BlackItalic-webfont.woff);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url(../../assets/fonts/RobotoSlab-Regular-webfont.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url(../../assets/fonts/RobotoSlab-Bold-webfont.woff);
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  min-width: 100%;
  font-size: 1.1em;
  color: #222;
  padding-top: 0.5em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 0.5em;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 2px 0.5em #ddd;
          box-shadow: 0px 2px 0.5em #ddd;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #111;
}

.navbar-brand img {
  height: 1.2em;
  margin-right: 0.3em;
}

.navbar li {
  padding-left: 0.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.navbar li a {
  color: #222;
}

.navbar li a:hover {
  color: #888;
  border-bottom: 2px solid linear-gradient(90deg, #007BFF, #6610F2);
}

#nav-text {
  font-family: var(--font-roboto-slab);
  font-weight: 900;
  font-size: 1.6em;
  color: var(--clr-primary-900);
}

.dropdown-toggle::after {
  content: none;
}

.navbar-toggler,
.navbar-toggler:focus {
  border: none;
}

.footer {
  color: #fff;
}

.footer__top {
  background: #333;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2em;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.footer__top__contact {
  font-size: 1.2em;
  font-weight: 500;
}

.footer__top__contact a {
  font-size: 1.1em;
  color: white;
  margin-right: 0.3em;
}

.footer__top__contact a:hover {
  color: #888;
  text-decoration: none;
}

.footer__top__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.35em;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top__about img {
  height: 1.35em;
  margin-right: 0.5em;
  margin-bottom: 0em;
}

.footer__bottom {
  color: #888;
  background: #222;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1em;
}

.footer--linegap {
  display: inline-block;
  margin-bottom: 0.3em;
}

.about-section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../../../media/assets/about.jpg);
  background-size: cover;
}

.about-section .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .title .about-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 1em;
  font-size: 5.6em;
  line-height: 0.9;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#007BFF), to(#6610F2));
  background-image: linear-gradient(90deg, #007BFF, #6610F2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.about-section .subtitle {
  margin-top: -2rem;
}

.about-section .subtitle h3 {
  font-size: 1.3rem;
}

.container {
  max-width: 60em;
  margin: 2em auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.container h2 {
  margin-bottom: 0.5em;
}

.container img {
  width: 100%;
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-set {
  margin-block: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

.image-set img {
  width: 17em;
  height: 17em;
  -o-object-fit: cover;
     object-fit: cover;
}

.background-layer {
  z-index: -1;
  position: absolute;
  margin-top: 4em;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}
